input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

input[type='submit'], button {
    background-color: #007bff; /* A pleasing blue */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px;
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}

input[type='submit']:hover, button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

input[type='text'], input[type='number'] {
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners for inputs */
    padding: 10px;
    width: calc(100% - 22px); /* Full width taking padding and border into account */
}

#editForm {
    display: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    border-radius: 8px; /* Rounded corners for the table */
    overflow: hidden; /* Ensures the border-radius clips content */
    width: 100%; /* Full width */
}

th {
    background-color: #007bff; /* Matching the button color */
    color: white;
    padding: 10px 15px;
}

td {
    border: 1px solid;
    padding: 5px;
    background-color: #f8f8f8;
}

th, td {
    text-align: left;
}

tr:hover {
    background-color: #e2e2e2; /* Slightly darker on hover */
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    width: 90%; 
    max-width: 1000px;
    min-height: 0;
    flex-flow: column;
    align-items: center;
}

.error-message {
    color: red;
    font-weight: bold;
}

#editForm, #addForm {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px; /* Rounded corners for forms */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
}
/* Fonts */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
